body{
    background: linear-gradient(to right,#6312CB,
#15023E, #4D0068);
    color: whitesmoke;
    display: flex;
}

.Container {
    display: grid;
    justify-content: center;
    align-items: baseline;
    margin-top: 20px;
    border: none;
}

.botoes{
    display: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 90px;
    background-color: #000000;
    border: none;
}

.logo{
    justify-items: start;
    justify-content: left;
    margin-top: 20px;
    display: flex;
}
.davi{
    display: block;
    
}
h1{
    margin-top: 40%;
    vertical-align:top;
    justify-content: center;
}
strong{
    color: rgb(0, 0, 0);
}
